<h1>User update</h1>

<%= render 'users/user', user: @user %>

<h2>プロフィール編集</h2>
<%#= form_with model: @User, url:update_user_path(@user.id), method: :patch do |f| %>
<%= form_with model: User do |f| %>
  <label for="inputName">Name</label>
  <br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <br>
  <label for="inputImage">ProfileImage</label>
  <br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
  <br>
  <%= f.submit "変更を保存" %>
<% end %>