<h1>show page</h1>


<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "sign in", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "log in", new_user_session_path %>
        </li>
      <% end %>
      
    </header>
    
    <main>
      <h1>New Book</h1>
      <%= form_with model: Book.new do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Create book' %>
      
      <% end %>
      
      kokoni image
      <h4>name</h4>
      <p><%= @user.name %></p>

      <a href="">show</a>
      
    </main>
    
    
    <%= yield %>
  </body>
</html>




