<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>



<div>
  <%= image_tag @book.user.get_profile_image(100, 100) %>
  <p>name：<%= @book.user.name %></p>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>

<%= link_to "edit", edit_book_path(@book.id) %>

</div>